@{
    ViewBag.Title = "Appointments";
}

<h2>Available Appointments</h2>

<table class="table table-bordered table-striped" >

    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Type of Tour</th>
        </tr>
    </thead>

</table>