@{
    ViewBag.Title = "Time Slots";
}


<h2>Available Times</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>

</table>



<br />



