@{
}
 <!-- model import-->


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Date</td>
            <td>Name of Group</td>
            <td>Size of Group</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Time</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
            {
                <tr>
                    <td></td>
                </tr>
            }
    </tbody>
</table>